<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="qmsBomTechnology">
            <h2><span jhiTranslate="fccApp.qmsBomTechnology.detail.title">Qms Bom Technology</span> {{qmsBomTechnology.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.materielId">Materiel Id</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.materielId}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.technologyCd">Technology Cd</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.technologyCd}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.technologyName">Technology Name</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.technologyName}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.orderNo">Order No</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.orderNo}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.beforeProcessId">Before Process Id</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.beforeProcessId}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.processId">Process Id</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.processId}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.organizationCd">Organization Cd</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.organizationCd}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.schedulerRole">Scheduler Role</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.schedulerRole}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.workUnit">Work Unit</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.workUnit}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.workHours">Work Hours</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.workHours}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.qcType">Qc Type</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.qcType}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.specialRole">Special Role</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.specialRole}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.proprety">Proprety</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.proprety}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.machineCenterCd">Machine Center Cd</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.machineCenterCd}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.workCd">Work Cd</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.workCd}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.deliverTime">Deliver Time</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.deliverTime}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.integerNum">Integer Num</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.integerNum}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.integerTimeUnit">Integer Time Unit</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.integerTimeUnit}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.integerTime">Integer Time</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.integerTime}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.operationVersion">Operation Version</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.operationVersion}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.workFactor">Work Factor</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.workFactor}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.operationType">Operation Type</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.operationType}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.mutualinRole">Mutualin Role</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.mutualinRole}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.describe">Describe</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.describe}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.randomRole">Random Role</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.randomRole}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.controlRole">Control Role</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.controlRole}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.isMain">Is Main</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.isMain}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.isNewCd">Is New Cd</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.isNewCd}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.newCdMaterielId">New Cd Materiel Id</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.newCdMaterielId}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.workGroupCd">Work Group Cd</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.workGroupCd}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.isControlPoint">Is Control Point</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.isControlPoint}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.isTest">Is Test</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.isTest}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.isDefault">Is Default</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.isDefault}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.flagStatus">Flag Status</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.flagStatus}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.compPkid">Comp Pkid</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.compPkid}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.remark">Remark</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.remark}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.reserveFirst">Reserve First</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.reserveFirst}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.reserveSecond">Reserve Second</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.reserveSecond}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.reserveThird">Reserve Third</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.reserveThird}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.makeUser">Make User</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.makeUser}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.makeTime">Make Time</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.makeTime}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.modifyUser">Modify User</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.modifyUser}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBomTechnology.modifyTime">Modify Time</span></dt>
                <dd>
                    <span>{{qmsBomTechnology.modifyTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/qms-bom-technology', qmsBomTechnology.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
