<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="cnc-error-h1-center" jhiTranslate="error.title">Error Page!</h1>

            <div [hidden]="!errorMessage">
                <div class="alert alert-danger">{{errorMessage}}
                </div>
            </div>
            <div [hidden]="!error403" class="alert alert-danger" jhiTranslate="error.http.403">You are not authorized to access this page.
            </div>
            <div class="alert alert-warning">
                <a class="alert-link" [routerLink]="['/']" jhiTranslate="error.againLogin">Please login again</a>
            </div>
        </div>
    </div>
</div>
