<div>
    <h2 id="page-heading">
        <span jhiTranslate="fccApp.hstServerInfo.home.title">Hst Server Infos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-hst-server-info" [routerLink]="['/hst-server-info/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="fccApp.hstServerInfo.home.createLabel">
            Create new Hst Server Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="hstServerInfos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="fccApp.hstServerInfo.appId">App Id</span></th>
            <th><span jhiTranslate="fccApp.hstServerInfo.storeId">Store Id</span></th>
            <th><span jhiTranslate="fccApp.hstServerInfo.hostSlaveFlag">Host Slave Flag</span></th>
            <th><span jhiTranslate="fccApp.hstServerInfo.nodeId">Node Id</span></th>
            <th><span jhiTranslate="fccApp.hstServerInfo.pNodeId">P Node Id</span></th>
            <th><span jhiTranslate="fccApp.hstServerInfo.nodeUrl">Node Url</span></th>
            <th><span jhiTranslate="fccApp.hstServerInfo.nodeJoinTime">Node Join Time</span></th>
            <th><span jhiTranslate="fccApp.hstServerInfo.stopFlag">Stop Flag</span></th>
            <th><span jhiTranslate="fccApp.hstServerInfo.delFlag">Del Flag</span></th>
            <th><span jhiTranslate="fccApp.hstServerInfo.insProgarmCd">Ins Progarm Cd</span></th>
            <th><span jhiTranslate="fccApp.hstServerInfo.insOperCd">Ins Oper Cd</span></th>
            <th><span jhiTranslate="fccApp.hstServerInfo.insDateTime">Ins Date Time</span></th>
            <th><span jhiTranslate="fccApp.hstServerInfo.updProgarmCd">Upd Progarm Cd</span></th>
            <th><span jhiTranslate="fccApp.hstServerInfo.updOperCd">Upd Oper Cd</span></th>
            <th><span jhiTranslate="fccApp.hstServerInfo.updDateTime">Upd Date Time</span></th>
            <th><span jhiTranslate="fccApp.hstServerInfo.delProgarmCd">Del Progarm Cd</span></th>
            <th><span jhiTranslate="fccApp.hstServerInfo.delOperCd">Del Oper Cd</span></th>
            <th><span jhiTranslate="fccApp.hstServerInfo.delDateTime">Del Date Time</span></th>
            <th><span jhiTranslate="fccApp.hstServerInfo.triggerDateTime">Trigger Date Time</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hstServerInfo of hstServerInfos ;trackBy: trackId">
                <td><a [routerLink]="['/hst-server-info', hstServerInfo.id, 'view' ]">{{hstServerInfo.id}}</a></td>
                <td>{{hstServerInfo.appId}}</td>
                <td>{{hstServerInfo.storeId}}</td>
                <td>{{hstServerInfo.hostSlaveFlag}}</td>
                <td>{{hstServerInfo.nodeId}}</td>
                <td>{{hstServerInfo.pNodeId}}</td>
                <td>{{hstServerInfo.nodeUrl}}</td>
                <td>{{hstServerInfo.nodeJoinTime | date:'medium'}}</td>
                <td>{{hstServerInfo.stopFlag}}</td>
                <td>{{hstServerInfo.delFlag}}</td>
                <td>{{hstServerInfo.insProgarmCd}}</td>
                <td>{{hstServerInfo.insOperCd}}</td>
                <td>{{hstServerInfo.insDateTime | date:'medium'}}</td>
                <td>{{hstServerInfo.updProgarmCd}}</td>
                <td>{{hstServerInfo.updOperCd}}</td>
                <td>{{hstServerInfo.updDateTime | date:'medium'}}</td>
                <td>{{hstServerInfo.delProgarmCd}}</td>
                <td>{{hstServerInfo.delOperCd}}</td>
                <td>{{hstServerInfo.delDateTime | date:'medium'}}</td>
                <td>{{hstServerInfo.triggerDateTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/hst-server-info', hstServerInfo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/hst-server-info', hstServerInfo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'hst-server-info/'+ hstServerInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
