<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-hst-server-info-heading" jhiTranslate="fccApp.hstServerInfo.home.createOrEditLabel">Create or edit a Hst Server Info</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!hstServerInfo.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="hstServerInfo.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.hstServerInfo.appId" for="field_appId">App Id</label>
                    <input type="number" class="form-control" name="appId" id="field_appId"
                        [(ngModel)]="hstServerInfo.appId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.hstServerInfo.storeId" for="field_storeId">Store Id</label>
                    <input type="number" class="form-control" name="storeId" id="field_storeId"
                        [(ngModel)]="hstServerInfo.storeId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.hstServerInfo.hostSlaveFlag" for="field_hostSlaveFlag">Host Slave Flag</label>
                    <input type="number" class="form-control" name="hostSlaveFlag" id="field_hostSlaveFlag"
                        [(ngModel)]="hstServerInfo.hostSlaveFlag" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.hstServerInfo.nodeId" for="field_nodeId">Node Id</label>
                    <input type="text" class="form-control" name="nodeId" id="field_nodeId"
                        [(ngModel)]="hstServerInfo.nodeId" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.nodeId?.dirty && editForm.controls.nodeId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nodeId?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.hstServerInfo.pNodeId" for="field_pNodeId">P Node Id</label>
                    <input type="text" class="form-control" name="pNodeId" id="field_pNodeId"
                        [(ngModel)]="hstServerInfo.pNodeId" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.pNodeId?.dirty && editForm.controls.pNodeId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.pNodeId?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.hstServerInfo.nodeUrl" for="field_nodeUrl">Node Url</label>
                    <input type="text" class="form-control" name="nodeUrl" id="field_nodeUrl"
                        [(ngModel)]="hstServerInfo.nodeUrl" maxlength="255"/>
                    <div [hidden]="!(editForm.controls.nodeUrl?.dirty && editForm.controls.nodeUrl?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nodeUrl?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.hstServerInfo.nodeJoinTime" for="field_nodeJoinTime">Node Join Time</label>
                    <div class="d-flex">
                        <input id="field_nodeJoinTime" type="datetime-local" class="form-control" name="nodeJoinTime" [(ngModel)]="nodeJoinTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.hstServerInfo.stopFlag" for="field_stopFlag">Stop Flag</label>
                    <input type="number" class="form-control" name="stopFlag" id="field_stopFlag"
                        [(ngModel)]="hstServerInfo.stopFlag" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.hstServerInfo.delFlag" for="field_delFlag">Del Flag</label>
                    <input type="number" class="form-control" name="delFlag" id="field_delFlag"
                        [(ngModel)]="hstServerInfo.delFlag" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.hstServerInfo.insProgarmCd" for="field_insProgarmCd">Ins Progarm Cd</label>
                    <input type="text" class="form-control" name="insProgarmCd" id="field_insProgarmCd"
                        [(ngModel)]="hstServerInfo.insProgarmCd" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.insProgarmCd?.dirty && editForm.controls.insProgarmCd?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.insProgarmCd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.hstServerInfo.insOperCd" for="field_insOperCd">Ins Oper Cd</label>
                    <input type="text" class="form-control" name="insOperCd" id="field_insOperCd"
                        [(ngModel)]="hstServerInfo.insOperCd" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.insOperCd?.dirty && editForm.controls.insOperCd?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.insOperCd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.hstServerInfo.insDateTime" for="field_insDateTime">Ins Date Time</label>
                    <div class="d-flex">
                        <input id="field_insDateTime" type="datetime-local" class="form-control" name="insDateTime" [(ngModel)]="insDateTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.hstServerInfo.updProgarmCd" for="field_updProgarmCd">Upd Progarm Cd</label>
                    <input type="text" class="form-control" name="updProgarmCd" id="field_updProgarmCd"
                        [(ngModel)]="hstServerInfo.updProgarmCd" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.updProgarmCd?.dirty && editForm.controls.updProgarmCd?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.updProgarmCd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.hstServerInfo.updOperCd" for="field_updOperCd">Upd Oper Cd</label>
                    <input type="text" class="form-control" name="updOperCd" id="field_updOperCd"
                        [(ngModel)]="hstServerInfo.updOperCd" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.updOperCd?.dirty && editForm.controls.updOperCd?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.updOperCd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.hstServerInfo.updDateTime" for="field_updDateTime">Upd Date Time</label>
                    <div class="d-flex">
                        <input id="field_updDateTime" type="datetime-local" class="form-control" name="updDateTime" [(ngModel)]="updDateTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.hstServerInfo.delProgarmCd" for="field_delProgarmCd">Del Progarm Cd</label>
                    <input type="text" class="form-control" name="delProgarmCd" id="field_delProgarmCd"
                        [(ngModel)]="hstServerInfo.delProgarmCd" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.delProgarmCd?.dirty && editForm.controls.delProgarmCd?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.delProgarmCd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.hstServerInfo.delOperCd" for="field_delOperCd">Del Oper Cd</label>
                    <input type="text" class="form-control" name="delOperCd" id="field_delOperCd"
                        [(ngModel)]="hstServerInfo.delOperCd" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.delOperCd?.dirty && editForm.controls.delOperCd?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.delOperCd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.hstServerInfo.delDateTime" for="field_delDateTime">Del Date Time</label>
                    <div class="d-flex">
                        <input id="field_delDateTime" type="datetime-local" class="form-control" name="delDateTime" [(ngModel)]="delDateTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.hstServerInfo.triggerDateTime" for="field_triggerDateTime">Trigger Date Time</label>
                    <div class="d-flex">
                        <input id="field_triggerDateTime" type="datetime-local" class="form-control" name="triggerDateTime" [(ngModel)]="triggerDateTime"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
