<div>
    <h2 id="page-heading">
        <span jhiTranslate="fccApp.rbacUserRightRelation.home.title">Rbac User Right Relations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rbac-user-right-relation" [routerLink]="['/rbac-user-right-relation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="fccApp.rbacUserRightRelation.home.createLabel">
            Create new Rbac User Right Relation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="rbacUserRightRelations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="appId"><span jhiTranslate="fccApp.rbacUserRightRelation.appId">App Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="storeId"><span jhiTranslate="fccApp.rbacUserRightRelation.storeId">Store Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="roleId"><span jhiTranslate="fccApp.rbacUserRightRelation.roleId">Role Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userId"><span jhiTranslate="fccApp.rbacUserRightRelation.userId">User Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stopFlag"><span jhiTranslate="fccApp.rbacUserRightRelation.stopFlag">Stop Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="delFlag"><span jhiTranslate="fccApp.rbacUserRightRelation.delFlag">Del Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="insProgarmCd"><span jhiTranslate="fccApp.rbacUserRightRelation.insProgarmCd">Ins Progarm Cd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="insOperCd"><span jhiTranslate="fccApp.rbacUserRightRelation.insOperCd">Ins Oper Cd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="insDateTime"><span jhiTranslate="fccApp.rbacUserRightRelation.insDateTime">Ins Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updProgarmCd"><span jhiTranslate="fccApp.rbacUserRightRelation.updProgarmCd">Upd Progarm Cd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updOperCd"><span jhiTranslate="fccApp.rbacUserRightRelation.updOperCd">Upd Oper Cd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updDateTime"><span jhiTranslate="fccApp.rbacUserRightRelation.updDateTime">Upd Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="delProgarmCd"><span jhiTranslate="fccApp.rbacUserRightRelation.delProgarmCd">Del Progarm Cd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="delOperCd"><span jhiTranslate="fccApp.rbacUserRightRelation.delOperCd">Del Oper Cd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="delDateTime"><span jhiTranslate="fccApp.rbacUserRightRelation.delDateTime">Del Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="triggerDateTime"><span jhiTranslate="fccApp.rbacUserRightRelation.triggerDateTime">Trigger Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rbacUserRightRelation of rbacUserRightRelations ;trackBy: trackId">
                <td><a [routerLink]="['/rbac-user-right-relation', rbacUserRightRelation.id, 'view' ]">{{rbacUserRightRelation.id}}</a></td>
                <td>{{rbacUserRightRelation.appId}}</td>
                <td>{{rbacUserRightRelation.storeId}}</td>
                <td>{{rbacUserRightRelation.roleId}}</td>
                <td>{{rbacUserRightRelation.userId}}</td>
                <td>{{rbacUserRightRelation.stopFlag}}</td>
                <td>{{rbacUserRightRelation.delFlag}}</td>
                <td>{{rbacUserRightRelation.insProgarmCd}}</td>
                <td>{{rbacUserRightRelation.insOperCd}}</td>
                <td>{{rbacUserRightRelation.insDateTime | date:'medium'}}</td>
                <td>{{rbacUserRightRelation.updProgarmCd}}</td>
                <td>{{rbacUserRightRelation.updOperCd}}</td>
                <td>{{rbacUserRightRelation.updDateTime | date:'medium'}}</td>
                <td>{{rbacUserRightRelation.delProgarmCd}}</td>
                <td>{{rbacUserRightRelation.delOperCd}}</td>
                <td>{{rbacUserRightRelation.delDateTime | date:'medium'}}</td>
                <td>{{rbacUserRightRelation.triggerDateTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/rbac-user-right-relation', rbacUserRightRelation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/rbac-user-right-relation', rbacUserRightRelation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rbac-user-right-relation/'+ rbacUserRightRelation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="rbacUserRightRelations && rbacUserRightRelations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
