<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="qmsBogiepressureTonTest">
            <h2><span jhiTranslate="fccApp.qmsBogiepressureTonTest.detail.title">Qms Bogiepressure Ton Test</span> {{qmsBogiepressureTonTest.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.pkid">Pkid</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.pkid}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.productdate">Productdate</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.productdate}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.checker">Checker</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.checker}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.checkdate">Checkdate</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.checkdate}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.x1">X 1</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.x1}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.y1">Y 1</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.y1}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.z1">Z 1</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.z1}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.v1">V 1</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.v1}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.a1">A 1</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.a1}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.x2">X 2</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.x2}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.y2">Y 2</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.y2}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.z2">Z 2</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.z2}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.v2">V 2</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.v2}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.a2">A 2</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.a2}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.judge">Judge</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.judge}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.flagStatus">Flag Status</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.flagStatus}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.compPkid">Comp Pkid</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.compPkid}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.remark">Remark</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.remark}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.reserveFirst">Reserve First</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.reserveFirst}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.reserveSecond">Reserve Second</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.reserveSecond}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.reserveThird">Reserve Third</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.reserveThird}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.makeUser">Make User</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.makeUser}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.makeTime">Make Time</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.makeTime}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.modifyUser">Modify User</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.modifyUser}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsBogiepressureTonTest.modifyTime">Modify Time</span></dt>
                <dd>
                    <span>{{qmsBogiepressureTonTest.modifyTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/qms-bogiepressure-ton-test', qmsBogiepressureTonTest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
