<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="qmsMicSwicthRegulattoTest">
            <h2><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.detail.title">Qms Mic Swicth Regulatto Test</span> {{qmsMicSwicthRegulattoTest.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.sname">Sname</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.sname}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.stype">Stype</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.stype}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.scode">Scode</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.scode}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.ddate">Ddate</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.ddate}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.il0">Il 0</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.il0}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.izdgS">Izdg S</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.izdgS}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.sworker">Sworker</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.sworker}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.ssumup">Ssumup</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.ssumup}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.sneworold">Sneworold</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.sneworold}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.idian">Idian</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.idian}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.izdg0">Izdg 0</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.izdg0}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.izdg1">Izdg 1</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.izdg1}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.izdg2">Izdg 2</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.izdg2}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.izdg3">Izdg 3</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.izdg3}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.izdg4">Izdg 4</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.izdg4}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.izdg5">Izdg 5</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.izdg5}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.izdg6">Izdg 6</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.izdg6}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.izdg7">Izdg 7</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.izdg7}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.iztq0">Iztq 0</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.iztq0}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.iztq1">Iztq 1</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.iztq1}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.iztq2">Iztq 2</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.iztq2}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.iztq3">Iztq 3</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.iztq3}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.iztq4">Iztq 4</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.iztq4}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.iztq5">Iztq 5</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.iztq5}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.iztq6">Iztq 6</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.iztq6}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.iztq7">Iztq 7</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.iztq7}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.iztq8">Iztq 8</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.iztq8}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.iztq9">Iztq 9</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.iztq9}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.iztq10">Iztq 10</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.iztq10}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.iztq11">Iztq 11</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.iztq11}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.iqdl">Iqdl</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.iqdl}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.sresult0">Sresult 0</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.sresult0}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.sresult1">Sresult 1</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.sresult1}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.sresult2">Sresult 2</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.sresult2}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.sresult3">Sresult 3</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.sresult3}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.sresult4">Sresult 4</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.sresult4}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.sresult5">Sresult 5</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.sresult5}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.sresult6">Sresult 6</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.sresult6}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.sresult">Sresult</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.sresult}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.flagStatus">Flag Status</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.flagStatus}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.compPkid">Comp Pkid</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.compPkid}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.remark">Remark</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.remark}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.reserveFirst">Reserve First</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.reserveFirst}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.reserveSecond">Reserve Second</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.reserveSecond}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.reserveThird">Reserve Third</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.reserveThird}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.makeUser">Make User</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.makeUser}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.makeTime">Make Time</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.makeTime}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.modifyUser">Modify User</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.modifyUser}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMicSwicthRegulattoTest.modifyTime">Modify Time</span></dt>
                <dd>
                    <span>{{qmsMicSwicthRegulattoTest.modifyTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/qms-mic-swicth-regulatto-test', qmsMicSwicthRegulattoTest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
