<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="qmsProductionInspection">
            <h2><span jhiTranslate="fccApp.qmsProductionInspection.detail.title">Qms Production Inspection</span> {{qmsProductionInspection.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.bomTechnologyId">Bom Technology Id</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.bomTechnologyId}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.materielId">Materiel Id</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.materielId}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.serialNumber">Serial Number</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.serialNumber}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.furnace">Furnace</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.furnace}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.workno">Workno</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.workno}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.saleNumber">Sale Number</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.saleNumber}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.productorderNumber">Productorder Number</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.productorderNumber}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.productId">Product Id</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.productId}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.finishNumber">Finish Number</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.finishNumber}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.quailfiedNumber">Quailfied Number</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.quailfiedNumber}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.deffectiveNumber">Deffective Number</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.deffectiveNumber}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.inspectionDiff">Inspection Diff</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.inspectionDiff}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.isOk">Is Ok</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.isOk}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.flagStatus">Flag Status</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.flagStatus}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.compPkid">Comp Pkid</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.compPkid}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.remark">Remark</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.remark}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.reserveFirst">Reserve First</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.reserveFirst}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.reserveSecond">Reserve Second</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.reserveSecond}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.reserveThird">Reserve Third</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.reserveThird}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.makeUser">Make User</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.makeUser}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.makeTime">Make Time</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.makeTime}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.modifyUser">Modify User</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.modifyUser}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsProductionInspection.modifyTime">Modify Time</span></dt>
                <dd>
                    <span>{{qmsProductionInspection.modifyTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/qms-production-inspection', qmsProductionInspection.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
