<div>
    <h2 id="page-heading">
        <span jhiTranslate="fccApp.qmsQualityControlDetails.home.title">Qms Quality Control Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-qms-quality-control-details" [routerLink]="['/qms-quality-control-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="fccApp.qmsQualityControlDetails.home.createLabel">
            Create new Qms Quality Control Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="qmsQualityControlDetails">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bomTechnologyId"><span jhiTranslate="fccApp.qmsQualityControlDetails.bomTechnologyId">Bom Technology Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="inspectionItem"><span jhiTranslate="fccApp.qmsQualityControlDetails.inspectionItem">Inspection Item</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="technicalRequirement"><span jhiTranslate="fccApp.qmsQualityControlDetails.technicalRequirement">Technical Requirement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="inspectionInstrument"><span jhiTranslate="fccApp.qmsQualityControlDetails.inspectionInstrument">Inspection Instrument</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="placeDiff"><span jhiTranslate="fccApp.qmsQualityControlDetails.placeDiff">Place Diff</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="standard"><span jhiTranslate="fccApp.qmsQualityControlDetails.standard">Standard</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="upperDeviation"><span jhiTranslate="fccApp.qmsQualityControlDetails.upperDeviation">Upper Deviation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lowerDeviation"><span jhiTranslate="fccApp.qmsQualityControlDetails.lowerDeviation">Lower Deviation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="inspectionResultDiff"><span jhiTranslate="fccApp.qmsQualityControlDetails.inspectionResultDiff">Inspection Result Diff</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remark"><span jhiTranslate="fccApp.qmsQualityControlDetails.remark">Remark</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="inspectionType"><span jhiTranslate="fccApp.qmsQualityControlDetails.inspectionType">Inspection Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isCheckObj"><span jhiTranslate="fccApp.qmsQualityControlDetails.isCheckObj">Is Check Obj</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="abcType"><span jhiTranslate="fccApp.qmsQualityControlDetails.abcType">Abc Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flagStatus"><span jhiTranslate="fccApp.qmsQualityControlDetails.flagStatus">Flag Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="compPkid"><span jhiTranslate="fccApp.qmsQualityControlDetails.compPkid">Comp Pkid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reserveFirst"><span jhiTranslate="fccApp.qmsQualityControlDetails.reserveFirst">Reserve First</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reserveSecond"><span jhiTranslate="fccApp.qmsQualityControlDetails.reserveSecond">Reserve Second</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reserveThird"><span jhiTranslate="fccApp.qmsQualityControlDetails.reserveThird">Reserve Third</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="makeUser"><span jhiTranslate="fccApp.qmsQualityControlDetails.makeUser">Make User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="makeTime"><span jhiTranslate="fccApp.qmsQualityControlDetails.makeTime">Make Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUser"><span jhiTranslate="fccApp.qmsQualityControlDetails.modifyUser">Modify User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyTime"><span jhiTranslate="fccApp.qmsQualityControlDetails.modifyTime">Modify Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let qmsQualityControlDetails of qmsQualityControlDetails ;trackBy: trackId">
                <td><a [routerLink]="['/qms-quality-control-details', qmsQualityControlDetails.id, 'view' ]">{{qmsQualityControlDetails.id}}</a></td>
                <td>{{qmsQualityControlDetails.bomTechnologyId}}</td>
                <td>{{qmsQualityControlDetails.inspectionItem}}</td>
                <td>{{qmsQualityControlDetails.technicalRequirement}}</td>
                <td>{{qmsQualityControlDetails.inspectionInstrument}}</td>
                <td>{{qmsQualityControlDetails.placeDiff}}</td>
                <td>{{qmsQualityControlDetails.standard}}</td>
                <td>{{qmsQualityControlDetails.upperDeviation}}</td>
                <td>{{qmsQualityControlDetails.lowerDeviation}}</td>
                <td>{{qmsQualityControlDetails.inspectionResultDiff}}</td>
                <td>{{qmsQualityControlDetails.remark}}</td>
                <td>{{qmsQualityControlDetails.inspectionType}}</td>
                <td>{{qmsQualityControlDetails.isCheckObj}}</td>
                <td>{{qmsQualityControlDetails.abcType}}</td>
                <td>{{qmsQualityControlDetails.flagStatus}}</td>
                <td>{{qmsQualityControlDetails.compPkid}}</td>
                <td>{{qmsQualityControlDetails.reserveFirst}}</td>
                <td>{{qmsQualityControlDetails.reserveSecond}}</td>
                <td>{{qmsQualityControlDetails.reserveThird}}</td>
                <td>{{qmsQualityControlDetails.makeUser}}</td>
                <td>{{qmsQualityControlDetails.makeTime | date:'medium'}}</td>
                <td>{{qmsQualityControlDetails.modifyUser}}</td>
                <td>{{qmsQualityControlDetails.modifyTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/qms-quality-control-details', qmsQualityControlDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/qms-quality-control-details', qmsQualityControlDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'qms-quality-control-details/'+ qmsQualityControlDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="qmsQualityControlDetails && qmsQualityControlDetails.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
