<div>
    <h2 id="page-heading">
        <span jhiTranslate="fccApp.qmsUnit.home.title">Qms Units</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-qms-unit" [routerLink]="['/qms-unit/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="fccApp.qmsUnit.home.createLabel">
            Create new Qms Unit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="qmsUnits">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unitCd"><span jhiTranslate="fccApp.qmsUnit.unitCd">Unit Cd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unitName"><span jhiTranslate="fccApp.qmsUnit.unitName">Unit Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flagStatus"><span jhiTranslate="fccApp.qmsUnit.flagStatus">Flag Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="compPkid"><span jhiTranslate="fccApp.qmsUnit.compPkid">Comp Pkid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remark"><span jhiTranslate="fccApp.qmsUnit.remark">Remark</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="makeUser"><span jhiTranslate="fccApp.qmsUnit.makeUser">Make User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="makeTime"><span jhiTranslate="fccApp.qmsUnit.makeTime">Make Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUser"><span jhiTranslate="fccApp.qmsUnit.modifyUser">Modify User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyTime"><span jhiTranslate="fccApp.qmsUnit.modifyTime">Modify Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let qmsUnit of qmsUnits ;trackBy: trackId">
                <td><a [routerLink]="['/qms-unit', qmsUnit.id, 'view' ]">{{qmsUnit.id}}</a></td>
                <td>{{qmsUnit.unitCd}}</td>
                <td>{{qmsUnit.unitName}}</td>
                <td>{{qmsUnit.flagStatus}}</td>
                <td>{{qmsUnit.compPkid}}</td>
                <td>{{qmsUnit.remark}}</td>
                <td>{{qmsUnit.makeUser}}</td>
                <td>{{qmsUnit.makeTime | date:'medium'}}</td>
                <td>{{qmsUnit.modifyUser}}</td>
                <td>{{qmsUnit.modifyTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/qms-unit', qmsUnit.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/qms-unit', qmsUnit.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'qms-unit/'+ qmsUnit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="qmsUnits && qmsUnits.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
