<div>
    <h2 id="page-heading">
        <span jhiTranslate="fccApp.qmsMaterielType.home.title">Qms Materiel Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-qms-materiel-type" [routerLink]="['/qms-materiel-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="fccApp.qmsMaterielType.home.createLabel">
            Create new Qms Materiel Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="qmsMaterielTypes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="materielTypeCd"><span jhiTranslate="fccApp.qmsMaterielType.materielTypeCd">Materiel Type Cd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="materielTypeName"><span jhiTranslate="fccApp.qmsMaterielType.materielTypeName">Materiel Type Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="parentCd"><span jhiTranslate="fccApp.qmsMaterielType.parentCd">Parent Cd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flagStatus"><span jhiTranslate="fccApp.qmsMaterielType.flagStatus">Flag Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="compPkid"><span jhiTranslate="fccApp.qmsMaterielType.compPkid">Comp Pkid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remark"><span jhiTranslate="fccApp.qmsMaterielType.remark">Remark</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="makeUser"><span jhiTranslate="fccApp.qmsMaterielType.makeUser">Make User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="makeTime"><span jhiTranslate="fccApp.qmsMaterielType.makeTime">Make Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUser"><span jhiTranslate="fccApp.qmsMaterielType.modifyUser">Modify User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyTime"><span jhiTranslate="fccApp.qmsMaterielType.modifyTime">Modify Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let qmsMaterielType of qmsMaterielTypes ;trackBy: trackId">
                <td><a [routerLink]="['/qms-materiel-type', qmsMaterielType.id, 'view' ]">{{qmsMaterielType.id}}</a></td>
                <td>{{qmsMaterielType.materielTypeCd}}</td>
                <td>{{qmsMaterielType.materielTypeName}}</td>
                <td>{{qmsMaterielType.parentCd}}</td>
                <td>{{qmsMaterielType.flagStatus}}</td>
                <td>{{qmsMaterielType.compPkid}}</td>
                <td>{{qmsMaterielType.remark}}</td>
                <td>{{qmsMaterielType.makeUser}}</td>
                <td>{{qmsMaterielType.makeTime | date:'medium'}}</td>
                <td>{{qmsMaterielType.modifyUser}}</td>
                <td>{{qmsMaterielType.modifyTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/qms-materiel-type', qmsMaterielType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/qms-materiel-type', qmsMaterielType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'qms-materiel-type/'+ qmsMaterielType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="qmsMaterielTypes && qmsMaterielTypes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
