<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-qms-production-relation-heading" jhiTranslate="fccApp.qmsProductionRelation.home.createOrEditLabel">Create or edit a Qms Production Relation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!qmsProductionRelation.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="qmsProductionRelation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.productionInspectionId" for="field_productionInspectionId">Production Inspection Id</label>
                    <input type="number" class="form-control" name="productionInspectionId" id="field_productionInspectionId"
                        [(ngModel)]="qmsProductionRelation.productionInspectionId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.assemblyId" for="field_assemblyId">Assembly Id</label>
                    <input type="number" class="form-control" name="assemblyId" id="field_assemblyId"
                        [(ngModel)]="qmsProductionRelation.assemblyId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.doProductId" for="field_doProductId">Do Product Id</label>
                    <input type="number" class="form-control" name="doProductId" id="field_doProductId"
                        [(ngModel)]="qmsProductionRelation.doProductId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.actualUseLocation" for="field_actualUseLocation">Actual Use Location</label>
                    <input type="text" class="form-control" name="actualUseLocation" id="field_actualUseLocation"
                        [(ngModel)]="qmsProductionRelation.actualUseLocation" maxlength="200"/>
                    <div [hidden]="!(editForm.controls.actualUseLocation?.dirty && editForm.controls.actualUseLocation?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.actualUseLocation?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.assemblyMaterielId" for="field_assemblyMaterielId">Assembly Materiel Id</label>
                    <input type="number" class="form-control" name="assemblyMaterielId" id="field_assemblyMaterielId"
                        [(ngModel)]="qmsProductionRelation.assemblyMaterielId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.useProductId" for="field_useProductId">Use Product Id</label>
                    <input type="number" class="form-control" name="useProductId" id="field_useProductId"
                        [(ngModel)]="qmsProductionRelation.useProductId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.fromDiff" for="field_fromDiff">From Diff</label>
                    <input type="text" class="form-control" name="fromDiff" id="field_fromDiff"
                        [(ngModel)]="qmsProductionRelation.fromDiff" maxlength="1"/>
                    <div [hidden]="!(editForm.controls.fromDiff?.dirty && editForm.controls.fromDiff?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fromDiff?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1 }">
                        This field cannot be longer than 1 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.confirmUser1" for="field_confirmUser1">Confirm User 1</label>
                    <input type="text" class="form-control" name="confirmUser1" id="field_confirmUser1"
                        [(ngModel)]="qmsProductionRelation.confirmUser1" maxlength="10"/>
                    <div [hidden]="!(editForm.controls.confirmUser1?.dirty && editForm.controls.confirmUser1?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.confirmUser1?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.confirmTime1" for="field_confirmTime1">Confirm Time 1</label>
                    <div class="d-flex">
                        <input id="field_confirmTime1" type="datetime-local" class="form-control" name="confirmTime1" [(ngModel)]="confirmTime1"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.confirmUser2" for="field_confirmUser2">Confirm User 2</label>
                    <input type="text" class="form-control" name="confirmUser2" id="field_confirmUser2"
                        [(ngModel)]="qmsProductionRelation.confirmUser2" maxlength="10"/>
                    <div [hidden]="!(editForm.controls.confirmUser2?.dirty && editForm.controls.confirmUser2?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.confirmUser2?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.confirmTime2" for="field_confirmTime2">Confirm Time 2</label>
                    <div class="d-flex">
                        <input id="field_confirmTime2" type="datetime-local" class="form-control" name="confirmTime2" [(ngModel)]="confirmTime2"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.remark" for="field_remark">Remark</label>
                    <input type="text" class="form-control" name="remark" id="field_remark"
                        [(ngModel)]="qmsProductionRelation.remark" maxlength="200"/>
                    <div [hidden]="!(editForm.controls.remark?.dirty && editForm.controls.remark?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.remark?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.flagStatus" for="field_flagStatus">Flag Status</label>
                    <input type="text" class="form-control" name="flagStatus" id="field_flagStatus"
                        [(ngModel)]="qmsProductionRelation.flagStatus" maxlength="1"/>
                    <div [hidden]="!(editForm.controls.flagStatus?.dirty && editForm.controls.flagStatus?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.flagStatus?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1 }">
                        This field cannot be longer than 1 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.compPkid" for="field_compPkid">Comp Pkid</label>
                    <input type="text" class="form-control" name="compPkid" id="field_compPkid"
                        [(ngModel)]="qmsProductionRelation.compPkid" maxlength="10"/>
                    <div [hidden]="!(editForm.controls.compPkid?.dirty && editForm.controls.compPkid?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.compPkid?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.reserveFirst" for="field_reserveFirst">Reserve First</label>
                    <input type="text" class="form-control" name="reserveFirst" id="field_reserveFirst"
                        [(ngModel)]="qmsProductionRelation.reserveFirst" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.reserveFirst?.dirty && editForm.controls.reserveFirst?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.reserveFirst?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.reserveSecond" for="field_reserveSecond">Reserve Second</label>
                    <input type="text" class="form-control" name="reserveSecond" id="field_reserveSecond"
                        [(ngModel)]="qmsProductionRelation.reserveSecond" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.reserveSecond?.dirty && editForm.controls.reserveSecond?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.reserveSecond?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.reserveThird" for="field_reserveThird">Reserve Third</label>
                    <input type="text" class="form-control" name="reserveThird" id="field_reserveThird"
                        [(ngModel)]="qmsProductionRelation.reserveThird" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.reserveThird?.dirty && editForm.controls.reserveThird?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.reserveThird?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.makeUser" for="field_makeUser">Make User</label>
                    <input type="text" class="form-control" name="makeUser" id="field_makeUser"
                        [(ngModel)]="qmsProductionRelation.makeUser" maxlength="10"/>
                    <div [hidden]="!(editForm.controls.makeUser?.dirty && editForm.controls.makeUser?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.makeUser?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.makeTime" for="field_makeTime">Make Time</label>
                    <div class="d-flex">
                        <input id="field_makeTime" type="datetime-local" class="form-control" name="makeTime" [(ngModel)]="makeTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.modifyUser" for="field_modifyUser">Modify User</label>
                    <input type="text" class="form-control" name="modifyUser" id="field_modifyUser"
                        [(ngModel)]="qmsProductionRelation.modifyUser" maxlength="10"/>
                    <div [hidden]="!(editForm.controls.modifyUser?.dirty && editForm.controls.modifyUser?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.modifyUser?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsProductionRelation.modifyTime" for="field_modifyTime">Modify Time</label>
                    <div class="d-flex">
                        <input id="field_modifyTime" type="datetime-local" class="form-control" name="modifyTime" [(ngModel)]="modifyTime"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
