<div style="  display: block; width: 100%;height: 140px;">

  <h2 id="page-heading" class="text-left title_class">
    <span>工序信息</span>
  </h2>
  <div style="height: 40px;margin-top:0.5%;">
    <div class="common_div-head">
      <div class="search_styleOne">
        <span>工序编码</span>
      </div>
      <div class="search_styleTwo">
        <input type="text" class="form-control" style="width: 100%;margin-left: 0px;" pInputText
          [(ngModel)]="bianMa" />
      </div>

    </div>
    <div class="common_div-head">
      <div class="search_styleOne">
        <span>工序名称</span>
      </div>
      <div class="search_styleTwo">
        <input type="text" class="form-control" style="width: 100%;margin-left: 0px;" pInputText
          [(ngModel)]="gongName" />
      </div>
    </div>

  </div>
  <div style="height: 58px;">
    <button icon="fa fa-plus" iconPos="left"
        class="btn btn-primary float-right jh-create-entity create-qms-vehicle-type-info search_button search_button_darkblue"
        (click)="openFile()" style="padding-left: 6px">
        <!-- <fa-icon [icon]="'search'"></fa-icon> -->
        <span>
          模板下载
        </span>
      </button>
      <input hidden id="file" type="file" (change)="upload($event)" accept=".xls" />
      <button icon="fa fa-plus" iconPos="left"
        class="btn btn-primary float-right jh-create-entity create-qms-vehicle-type-info search_button search_button_darkblue"
        (click)="ImportExcel()">
        <!-- <fa-icon [icon]="'search'"></fa-icon> -->
        <span>
          导入
        </span>
      </button>
    <button id="jh-create-entity" icon="fa fa-plus" replaceUrl="true" iconPos="left"
      class="btn btn-primary float-right jh-create-entity create-qms-vehicle-type-info search_button search_button_blue"
      [routerLink]="['/process/qms-process/new']">
      <span>
        添加
      </span>
    </button>
    <button id="jh-create-entity" icon="fa fa-plus" iconPos="left"
      class="btn btn-primary float-right jh-create-entity create-qms-vehicle-type-info search_button search_button_red"
      (click)="emptyInfo()">
      <span>
        清空
      </span>
    </button>
    <button id="jh-create-entity" icon="fa fa-plus" iconPos="left"
      class="btn btn-primary float-right jh-create-entity create-qms-vehicle-type-info search_button search_button_darkblue"
      (click)="loadAll()">
      <span>
        查询
      </span>
    </button>
    <!-- <button id="jh-create-entity"  icon="fa fa-plus"  iconPos="left"
          class="btn btn-primary float-right jh-create-entity create-qms-vehicle-type-info search_button search_button_darkblue" (click)="supplierPopup()">
              <span >
              跳转
              </span>
          </button> -->
  </div>
  <div style="width: 100%;border-bottom: 1px black solid;float: left;"></div>
</div>
<p-table [value]="qmsProcesses" [paginator]="true" [rows]="itemsPerPage" [lazy]="true" [totalRecords]="queryCount"
  [resizableColumns]="true" [loading]=this.loading (onLazyLoad)="loadCarsLazy($event)">


  <ng-template pTemplate="header">
    <tr jhiSort [(ascending)]="reverse" [callback]="transition.bind(this)" class="common_trStyle">
      <!-- 序号 -->
      <th class="common_thStyle" style="width: 10% !important;">
        <span>序号</span>
      </th>
      <!-- 工序编码 -->
      <th class="common_thStyle" style="width: 20% !important;">
        <span>工序编码</span>
      </th>
      <!-- 工序名称 -->
      <th class="common_thStyle" style="width: 25% !important;">
        <span>工序名称</span>
      </th>
      <!-- 备注 -->
      <th class="common_thStyle" style="width: 25% !important;">
        <span>备注</span>
      </th>
      
      <th class="common_thStyle">
        <span>操作</span>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-qmsProcess let-i="rowIndex">
    <tr>
      <!-- 序号 -->
      <td class="common_tdStyle text-center" style="width: 10% !important"><p>{{i+1}}</p></td>
      <!-- 供应商编码 -->
      <td class="common_tdStyle text-left" style="width: 20% !important"><p>{{qmsProcess.processCd}}</p></td>
      <!-- 供应商名称 -->
      <td class="common_tdStyle text-left" style="width: 25% !important"><p>{{qmsProcess.processName}}</p></td>
      <!-- 地址 -->
      <td class="common_tdStyle text-left" style="width: 25% !important"><p>{{qmsProcess.remark}}</p></td>
      
      <!-- 操作 -->
      <td class="common_tdStyle">
        <button id="jh-create-entity" replaceUrl="true"
          class="btn btn-primary float-left jh-create-entity create-qms-vehicle-type-info search_button Acolor_See"
          [routerLink]="['/process/qms-process', qmsProcess.id, 'view' ]">
          <span>
            查看
          </span>
        </button>
        <button id="jh-create-entity" replaceUrl="true"
          class="btn btn-primary float-center jh-create-entity create-qms-vehicle-type-info search_button Acolor_Edit"
          [routerLink]="['/process/qms-process', qmsProcess.id, 'edit' ]">
          <span>
            编辑
          </span>
        </button>

        <button id="jh-create-entity"
          class="btn btn-primary float-right jh-create-entity create-qms-vehicle-type-info search_button Acolor_Delete"
          (click)="delete(qmsProcess.id,qmsProcess.processCd)">
          <span>
            删除
          </span>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-growl [(value)]="msgs" [immutable]="false" life="300000"></p-growl>
<p-growl [(value)]="msgs1" [immutable]="false" life="3000"></p-growl>