<div>
    <h2 id="page-heading">
        <span jhiTranslate="fccApp.qmsControlDetails.home.title">Qms Control Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-qms-control-details" [routerLink]="['/qms-control-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="fccApp.qmsControlDetails.home.createLabel">
            Create new Qms Control Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="qmsControlDetails">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="inspectionCd"><span jhiTranslate="fccApp.qmsControlDetails.inspectionCd">Inspection Cd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="inspectionItem"><span jhiTranslate="fccApp.qmsControlDetails.inspectionItem">Inspection Item</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="technicalRequirement"><span jhiTranslate="fccApp.qmsControlDetails.technicalRequirement">Technical Requirement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="inspectionInstrument"><span jhiTranslate="fccApp.qmsControlDetails.inspectionInstrument">Inspection Instrument</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="inspectionResultDiff"><span jhiTranslate="fccApp.qmsControlDetails.inspectionResultDiff">Inspection Result Diff</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flagStatus"><span jhiTranslate="fccApp.qmsControlDetails.flagStatus">Flag Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="compPkid"><span jhiTranslate="fccApp.qmsControlDetails.compPkid">Comp Pkid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remark"><span jhiTranslate="fccApp.qmsControlDetails.remark">Remark</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reserveFirst"><span jhiTranslate="fccApp.qmsControlDetails.reserveFirst">Reserve First</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reserveSecond"><span jhiTranslate="fccApp.qmsControlDetails.reserveSecond">Reserve Second</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reserveThird"><span jhiTranslate="fccApp.qmsControlDetails.reserveThird">Reserve Third</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="makeUser"><span jhiTranslate="fccApp.qmsControlDetails.makeUser">Make User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="makeTime"><span jhiTranslate="fccApp.qmsControlDetails.makeTime">Make Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUser"><span jhiTranslate="fccApp.qmsControlDetails.modifyUser">Modify User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyTime"><span jhiTranslate="fccApp.qmsControlDetails.modifyTime">Modify Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let qmsControlDetails of qmsControlDetails ;trackBy: trackId">
                <td><a [routerLink]="['/qms-control-details', qmsControlDetails.id, 'view' ]">{{qmsControlDetails.id}}</a></td>
                <td>{{qmsControlDetails.inspectionCd}}</td>
                <td>{{qmsControlDetails.inspectionItem}}</td>
                <td>{{qmsControlDetails.technicalRequirement}}</td>
                <td>{{qmsControlDetails.inspectionInstrument}}</td>
                <td>{{qmsControlDetails.inspectionResultDiff}}</td>
                <td>{{qmsControlDetails.flagStatus}}</td>
                <td>{{qmsControlDetails.compPkid}}</td>
                <td>{{qmsControlDetails.remark}}</td>
                <td>{{qmsControlDetails.reserveFirst}}</td>
                <td>{{qmsControlDetails.reserveSecond}}</td>
                <td>{{qmsControlDetails.reserveThird}}</td>
                <td>{{qmsControlDetails.makeUser}}</td>
                <td>{{qmsControlDetails.makeTime | date:'medium'}}</td>
                <td>{{qmsControlDetails.modifyUser}}</td>
                <td>{{qmsControlDetails.modifyTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/qms-control-details', qmsControlDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/qms-control-details', qmsControlDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'qms-control-details/'+ qmsControlDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="qmsControlDetails && qmsControlDetails.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
