
<div *ngIf="rbacRight">
    <h2><span class="cnc-user-detail-title" jhiTranslate="rbacRight.detail.title"></span>:{{rbacRight.rightName}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="cnc-user-detail-body">
        <!-- <div class="cnc-user-detail-row">
            <div class="col-md-2"><span jhiTranslate="rbacRight.help.storeName" [ngbTooltip]="'rbacRight.help.storeName' | translate">storeId</span></div>
            <div class="col-md-4"><span>{{rbacRight.storeId}}</span></div>
        </div> -->
        <div class="cnc-user-detail-row">
            <div class="col-md-2"><span jhiTranslate="rbacRight.help.rightCode" [ngbTooltip]="'rbacRight.help.rightCode' | translate">storeId</span></div>
            <div class="col-md-4"><span>{{rbacRight.rightCode}}</span></div>
            <div class="col-md-2"><span jhiTranslate="rbacRight.help.rightName" [ngbTooltip]="'rbacRight.help.rightName' | translate">userCode</span></div>
            <div class="col-md-4"><span>{{rbacRight.rightName}}</span></div>
        </div>
        
    </dl>
    <button pButton class="ui-button-secondary" (click)="previousState()" type="submit" icon="fa fa-arrow-left" iconPos="left"
    label="{{'entity.action.back'| translate}}"></button>
    <button pButton queryParamsHandling="merge" *ngIf="!(rbacRight.id === 1)" [routerLink]="['/rbac-right', rbacRight.id, 'edit']" icon="fa fa-pencil"
    iconPos="left" label="{{'entity.action.edit'| translate}}"></button>
</div>
