<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="qmsMaster">
            <h2><span jhiTranslate="fccApp.qmsMaster.detail.title">Qms Master</span> {{qmsMaster.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fccApp.qmsMaster.kbnCd">Kbn Cd</span></dt>
                <dd>
                    <span>{{qmsMaster.kbnCd}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMaster.kbnName">Kbn Name</span></dt>
                <dd>
                    <span>{{qmsMaster.kbnName}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMaster.prjCd">Prj Cd</span></dt>
                <dd>
                    <span>{{qmsMaster.prjCd}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMaster.prjName">Prj Name</span></dt>
                <dd>
                    <span>{{qmsMaster.prjName}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMaster.remark">Remark</span></dt>
                <dd>
                    <span>{{qmsMaster.remark}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMaster.flagStatus">Flag Status</span></dt>
                <dd>
                    <span>{{qmsMaster.flagStatus}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMaster.compPkid">Comp Pkid</span></dt>
                <dd>
                    <span>{{qmsMaster.compPkid}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMaster.reserveFirst">Reserve First</span></dt>
                <dd>
                    <span>{{qmsMaster.reserveFirst}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMaster.reserveSecond">Reserve Second</span></dt>
                <dd>
                    <span>{{qmsMaster.reserveSecond}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMaster.reserveThird">Reserve Third</span></dt>
                <dd>
                    <span>{{qmsMaster.reserveThird}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMaster.makeUser">Make User</span></dt>
                <dd>
                    <span>{{qmsMaster.makeUser}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMaster.makeTime">Make Time</span></dt>
                <dd>
                    <span>{{qmsMaster.makeTime}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMaster.modifyUser">Modify User</span></dt>
                <dd>
                    <span>{{qmsMaster.modifyUser}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsMaster.modifyTime">Modify Time</span></dt>
                <dd>
                    <span>{{qmsMaster.modifyTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/qms-master', qmsMaster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
