<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-rbac-menu-right-relation-heading" jhiTranslate="fccApp.rbacMenuRightRelation.home.createOrEditLabel">Create or edit a Rbac Menu Right Relation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!rbacMenuRightRelation.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="rbacMenuRightRelation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacMenuRightRelation.appId" for="field_appId">App Id</label>
                    <input type="number" class="form-control" name="appId" id="field_appId"
                        [(ngModel)]="rbacMenuRightRelation.appId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacMenuRightRelation.storeId" for="field_storeId">Store Id</label>
                    <input type="number" class="form-control" name="storeId" id="field_storeId"
                        [(ngModel)]="rbacMenuRightRelation.storeId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacMenuRightRelation.menuId" for="field_menuId">Menu Id</label>
                    <input type="number" class="form-control" name="menuId" id="field_menuId"
                        [(ngModel)]="rbacMenuRightRelation.menuId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacMenuRightRelation.rightId" for="field_rightId">Right Id</label>
                    <input type="number" class="form-control" name="rightId" id="field_rightId"
                        [(ngModel)]="rbacMenuRightRelation.rightId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacMenuRightRelation.stopFlag" for="field_stopFlag">Stop Flag</label>
                    <input type="number" class="form-control" name="stopFlag" id="field_stopFlag"
                        [(ngModel)]="rbacMenuRightRelation.stopFlag" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacMenuRightRelation.delFlag" for="field_delFlag">Del Flag</label>
                    <input type="number" class="form-control" name="delFlag" id="field_delFlag"
                        [(ngModel)]="rbacMenuRightRelation.delFlag" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacMenuRightRelation.insProgarmCd" for="field_insProgarmCd">Ins Progarm Cd</label>
                    <input type="text" class="form-control" name="insProgarmCd" id="field_insProgarmCd"
                        [(ngModel)]="rbacMenuRightRelation.insProgarmCd" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.insProgarmCd?.dirty && editForm.controls.insProgarmCd?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.insProgarmCd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacMenuRightRelation.insOperCd" for="field_insOperCd">Ins Oper Cd</label>
                    <input type="text" class="form-control" name="insOperCd" id="field_insOperCd"
                        [(ngModel)]="rbacMenuRightRelation.insOperCd" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.insOperCd?.dirty && editForm.controls.insOperCd?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.insOperCd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacMenuRightRelation.insDateTime" for="field_insDateTime">Ins Date Time</label>
                    <div class="d-flex">
                        <input id="field_insDateTime" type="datetime-local" class="form-control" name="insDateTime" [(ngModel)]="insDateTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacMenuRightRelation.updProgarmCd" for="field_updProgarmCd">Upd Progarm Cd</label>
                    <input type="text" class="form-control" name="updProgarmCd" id="field_updProgarmCd"
                        [(ngModel)]="rbacMenuRightRelation.updProgarmCd" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.updProgarmCd?.dirty && editForm.controls.updProgarmCd?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.updProgarmCd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacMenuRightRelation.updOperCd" for="field_updOperCd">Upd Oper Cd</label>
                    <input type="text" class="form-control" name="updOperCd" id="field_updOperCd"
                        [(ngModel)]="rbacMenuRightRelation.updOperCd" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.updOperCd?.dirty && editForm.controls.updOperCd?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.updOperCd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacMenuRightRelation.updDateTime" for="field_updDateTime">Upd Date Time</label>
                    <div class="d-flex">
                        <input id="field_updDateTime" type="datetime-local" class="form-control" name="updDateTime" [(ngModel)]="updDateTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacMenuRightRelation.delProgarmCd" for="field_delProgarmCd">Del Progarm Cd</label>
                    <input type="text" class="form-control" name="delProgarmCd" id="field_delProgarmCd"
                        [(ngModel)]="rbacMenuRightRelation.delProgarmCd" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.delProgarmCd?.dirty && editForm.controls.delProgarmCd?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.delProgarmCd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacMenuRightRelation.delOperCd" for="field_delOperCd">Del Oper Cd</label>
                    <input type="text" class="form-control" name="delOperCd" id="field_delOperCd"
                        [(ngModel)]="rbacMenuRightRelation.delOperCd" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.delOperCd?.dirty && editForm.controls.delOperCd?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.delOperCd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacMenuRightRelation.delDateTime" for="field_delDateTime">Del Date Time</label>
                    <div class="d-flex">
                        <input id="field_delDateTime" type="datetime-local" class="form-control" name="delDateTime" [(ngModel)]="delDateTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacMenuRightRelation.triggerDateTime" for="field_triggerDateTime">Trigger Date Time</label>
                    <div class="d-flex">
                        <input id="field_triggerDateTime" type="datetime-local" class="form-control" name="triggerDateTime" [(ngModel)]="triggerDateTime"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
