<div>
    <h2 id="page-heading">
        <span jhiTranslate="fccApp.qmsQualityControlDetailsRelation.home.title">Qms Quality Control Details Relations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-qms-quality-control-details-relation" [routerLink]="['/qms-quality-control-details-relation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="fccApp.qmsQualityControlDetailsRelation.home.createLabel">
            Create new Qms Quality Control Details Relation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="qmsQualityControlDetailsRelations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vehicleType"><span jhiTranslate="fccApp.qmsQualityControlDetailsRelation.vehicleType">Vehicle Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="qualityControlNumber"><span jhiTranslate="fccApp.qmsQualityControlDetailsRelation.qualityControlNumber">Quality Control Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="assemblyCd"><span jhiTranslate="fccApp.qmsQualityControlDetailsRelation.assemblyCd">Assembly Cd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="assemblyMaterielCd"><span jhiTranslate="fccApp.qmsQualityControlDetailsRelation.assemblyMaterielCd">Assembly Materiel Cd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="assemblyMaterielName"><span jhiTranslate="fccApp.qmsQualityControlDetailsRelation.assemblyMaterielName">Assembly Materiel Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remark"><span jhiTranslate="fccApp.qmsQualityControlDetailsRelation.remark">Remark</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flagStatus"><span jhiTranslate="fccApp.qmsQualityControlDetailsRelation.flagStatus">Flag Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="compPkid"><span jhiTranslate="fccApp.qmsQualityControlDetailsRelation.compPkid">Comp Pkid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reserveFirst"><span jhiTranslate="fccApp.qmsQualityControlDetailsRelation.reserveFirst">Reserve First</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reserveSecond"><span jhiTranslate="fccApp.qmsQualityControlDetailsRelation.reserveSecond">Reserve Second</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reserveThird"><span jhiTranslate="fccApp.qmsQualityControlDetailsRelation.reserveThird">Reserve Third</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="makeUser"><span jhiTranslate="fccApp.qmsQualityControlDetailsRelation.makeUser">Make User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="makeTime"><span jhiTranslate="fccApp.qmsQualityControlDetailsRelation.makeTime">Make Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUser"><span jhiTranslate="fccApp.qmsQualityControlDetailsRelation.modifyUser">Modify User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyTime"><span jhiTranslate="fccApp.qmsQualityControlDetailsRelation.modifyTime">Modify Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let qmsQualityControlDetailsRelation of qmsQualityControlDetailsRelations ;trackBy: trackId">
                <td><a [routerLink]="['/qms-quality-control-details-relation', qmsQualityControlDetailsRelation.id, 'view' ]">{{qmsQualityControlDetailsRelation.id}}</a></td>
                <td>{{qmsQualityControlDetailsRelation.vehicleType}}</td>
                <td>{{qmsQualityControlDetailsRelation.qualityControlNumber}}</td>
                <td>{{qmsQualityControlDetailsRelation.assemblyCd}}</td>
                <td>{{qmsQualityControlDetailsRelation.assemblyMaterielCd}}</td>
                <td>{{qmsQualityControlDetailsRelation.assemblyMaterielName}}</td>
                <td>{{qmsQualityControlDetailsRelation.remark}}</td>
                <td>{{qmsQualityControlDetailsRelation.flagStatus}}</td>
                <td>{{qmsQualityControlDetailsRelation.compPkid}}</td>
                <td>{{qmsQualityControlDetailsRelation.reserveFirst}}</td>
                <td>{{qmsQualityControlDetailsRelation.reserveSecond}}</td>
                <td>{{qmsQualityControlDetailsRelation.reserveThird}}</td>
                <td>{{qmsQualityControlDetailsRelation.makeUser}}</td>
                <td>{{qmsQualityControlDetailsRelation.makeTime | date:'medium'}}</td>
                <td>{{qmsQualityControlDetailsRelation.modifyUser}}</td>
                <td>{{qmsQualityControlDetailsRelation.modifyTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/qms-quality-control-details-relation', qmsQualityControlDetailsRelation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/qms-quality-control-details-relation', qmsQualityControlDetailsRelation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'qms-quality-control-details-relation/'+ qmsQualityControlDetailsRelation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="qmsQualityControlDetailsRelations && qmsQualityControlDetailsRelations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
