<div *ngIf="rbacRole">
    <h2 id="jhi-qms-vehicle-type-info-heading" class="title_class">角色维护</h2>
    <div class="lookBtn">
        <button type="submit" (click)="previousState()"
            class="btn btn-info float-right search_button_darkblue search_button">
            <span>返回</span>
        </button>

        <!-- <button type="button" [routerLink]="['/qms-supplier', qmsSupplier.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> 保存</span>
            </button> -->
    </div>
    <!-- 左侧文字的div -->
    <div style="float: left;">
        <div style="margin-top:50px;margin-left:45px;font-size:18px;font-weight: bold">
            <span>角色编码</span>
        </div>
        <div class="lookleftSpan">
            <span>角色名称</span>
        </div>
        <div class="lookleftSpan">
            <span>权限</span>
        </div>

    </div>
    <!-- 左侧输入框的div -->
    <div style="float: left;">
        <div style="margin-top:50px;margin-left:30px;">
            <input type="text" class="form-control" style="width: 300px;margin-left: 120px;" pInputText
                [(ngModel)]=rbacRole.roleCode [disabled]=rbacRole.id />
        </div>
        <div class="lookLeftDiv">
            <input type="text" class="form-control" style="width: 300px;margin-left: 120px;" pInputText
                [(ngModel)]=rbacRole.roleName [disabled]=rbacRole.id />
        </div>
        <!-- 菜单列表 -->
        <div class="lookLeftDiv">
            <p-dropdown [options]="rightsList" class="cnc-user-creat-dropdown"
                [style]="{'width':'300px','height':'38px','margin-left' : '120px'}" name="rbacRole"
                [(ngModel)]="selectListVal" [showClear]="true" placeholder="请选择" [disabled]=true></p-dropdown>
        </div>
    </div>
</div>