<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-qms-bom-heading" jhiTranslate="fccApp.qmsBom.home.createOrEditLabel">Create or edit a Qms Bom</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!qmsBom.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="qmsBom.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsBom.vehicleId" for="field_vehicleId">Vehicle Id</label>
                    <input type="number" class="form-control" name="vehicleId" id="field_vehicleId"
                        [(ngModel)]="qmsBom.vehicleId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsBom.materielId" for="field_materielId">Materiel Id</label>
                    <input type="number" class="form-control" name="materielId" id="field_materielId"
                        [(ngModel)]="qmsBom.materielId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsBom.parentMaterielID" for="field_parentMaterielID">Parent Materiel ID</label>
                    <input type="number" class="form-control" name="parentMaterielID" id="field_parentMaterielID"
                        [(ngModel)]="qmsBom.parentMaterielID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsBom.rootMaterielId" for="field_rootMaterielId">Root Materiel Id</label>
                    <input type="number" class="form-control" name="rootMaterielId" id="field_rootMaterielId"
                        [(ngModel)]="qmsBom.rootMaterielId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsBom.sequence" for="field_sequence">Sequence</label>
                    <input type="number" class="form-control" name="sequence" id="field_sequence"
                        [(ngModel)]="qmsBom.sequence" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsBom.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                        [(ngModel)]="qmsBom.quantity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsBom.isMust" for="field_isMust">Is Must</label>
                    <input type="text" class="form-control" name="isMust" id="field_isMust"
                        [(ngModel)]="qmsBom.isMust" maxlength="1"/>
                    <div [hidden]="!(editForm.controls.isMust?.dirty && editForm.controls.isMust?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isMust?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1 }">
                        This field cannot be longer than 1 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsBom.supplyType" for="field_supplyType">Supply Type</label>
                    <input type="text" class="form-control" name="supplyType" id="field_supplyType"
                        [(ngModel)]="qmsBom.supplyType" maxlength="1"/>
                    <div [hidden]="!(editForm.controls.supplyType?.dirty && editForm.controls.supplyType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.supplyType?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1 }">
                        This field cannot be longer than 1 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsBom.flagStatus" for="field_flagStatus">Flag Status</label>
                    <input type="text" class="form-control" name="flagStatus" id="field_flagStatus"
                        [(ngModel)]="qmsBom.flagStatus" maxlength="1"/>
                    <div [hidden]="!(editForm.controls.flagStatus?.dirty && editForm.controls.flagStatus?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.flagStatus?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1 }">
                        This field cannot be longer than 1 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsBom.compPkid" for="field_compPkid">Comp Pkid</label>
                    <input type="text" class="form-control" name="compPkid" id="field_compPkid"
                        [(ngModel)]="qmsBom.compPkid" maxlength="10"/>
                    <div [hidden]="!(editForm.controls.compPkid?.dirty && editForm.controls.compPkid?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.compPkid?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsBom.remark" for="field_remark">Remark</label>
                    <input type="text" class="form-control" name="remark" id="field_remark"
                        [(ngModel)]="qmsBom.remark" maxlength="200"/>
                    <div [hidden]="!(editForm.controls.remark?.dirty && editForm.controls.remark?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.remark?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsBom.reserveFirst" for="field_reserveFirst">Reserve First</label>
                    <input type="text" class="form-control" name="reserveFirst" id="field_reserveFirst"
                        [(ngModel)]="qmsBom.reserveFirst" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.reserveFirst?.dirty && editForm.controls.reserveFirst?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.reserveFirst?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsBom.reserveSecond" for="field_reserveSecond">Reserve Second</label>
                    <input type="text" class="form-control" name="reserveSecond" id="field_reserveSecond"
                        [(ngModel)]="qmsBom.reserveSecond" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.reserveSecond?.dirty && editForm.controls.reserveSecond?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.reserveSecond?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsBom.reserveThird" for="field_reserveThird">Reserve Third</label>
                    <input type="text" class="form-control" name="reserveThird" id="field_reserveThird"
                        [(ngModel)]="qmsBom.reserveThird" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.reserveThird?.dirty && editForm.controls.reserveThird?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.reserveThird?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsBom.makeUser" for="field_makeUser">Make User</label>
                    <input type="text" class="form-control" name="makeUser" id="field_makeUser"
                        [(ngModel)]="qmsBom.makeUser" maxlength="10"/>
                    <div [hidden]="!(editForm.controls.makeUser?.dirty && editForm.controls.makeUser?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.makeUser?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsBom.makeTime" for="field_makeTime">Make Time</label>
                    <div class="d-flex">
                        <input id="field_makeTime" type="datetime-local" class="form-control" name="makeTime" [(ngModel)]="makeTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsBom.modifyUser" for="field_modifyUser">Modify User</label>
                    <input type="text" class="form-control" name="modifyUser" id="field_modifyUser"
                        [(ngModel)]="qmsBom.modifyUser" maxlength="10"/>
                    <div [hidden]="!(editForm.controls.modifyUser?.dirty && editForm.controls.modifyUser?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.modifyUser?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.qmsBom.modifyTime" for="field_modifyTime">Modify Time</label>
                    <div class="d-flex">
                        <input id="field_modifyTime" type="datetime-local" class="form-control" name="modifyTime" [(ngModel)]="modifyTime"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
