<div>
    <h2 id="page-heading">
        <span jhiTranslate="fccApp.qmsDefect.home.title">Qms Defects</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-qms-defect" [routerLink]="['/qms-defect/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="fccApp.qmsDefect.home.createLabel">
            Create new Qms Defect
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="qmsDefects">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="defectCd"><span jhiTranslate="fccApp.qmsDefect.defectCd">Defect Cd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="defectName"><span jhiTranslate="fccApp.qmsDefect.defectName">Defect Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="parentCd"><span jhiTranslate="fccApp.qmsDefect.parentCd">Parent Cd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isUse"><span jhiTranslate="fccApp.qmsDefect.isUse">Is Use</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flagStatus"><span jhiTranslate="fccApp.qmsDefect.flagStatus">Flag Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="compPkid"><span jhiTranslate="fccApp.qmsDefect.compPkid">Comp Pkid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remark"><span jhiTranslate="fccApp.qmsDefect.remark">Remark</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="makeUser"><span jhiTranslate="fccApp.qmsDefect.makeUser">Make User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="makeTime"><span jhiTranslate="fccApp.qmsDefect.makeTime">Make Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUser"><span jhiTranslate="fccApp.qmsDefect.modifyUser">Modify User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyTime"><span jhiTranslate="fccApp.qmsDefect.modifyTime">Modify Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let qmsDefect of qmsDefects ;trackBy: trackId">
                <td><a [routerLink]="['/qms-defect', qmsDefect.id, 'view' ]">{{qmsDefect.id}}</a></td>
                <td>{{qmsDefect.defectCd}}</td>
                <td>{{qmsDefect.defectName}}</td>
                <td>{{qmsDefect.parentCd}}</td>
                <td>{{qmsDefect.isUse}}</td>
                <td>{{qmsDefect.flagStatus}}</td>
                <td>{{qmsDefect.compPkid}}</td>
                <td>{{qmsDefect.remark}}</td>
                <td>{{qmsDefect.makeUser}}</td>
                <td>{{qmsDefect.makeTime | date:'medium'}}</td>
                <td>{{qmsDefect.modifyUser}}</td>
                <td>{{qmsDefect.modifyTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/qms-defect', qmsDefect.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/qms-defect', qmsDefect.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'qms-defect/'+ qmsDefect.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="qmsDefects && qmsDefects.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
