<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="qmsUnqualifiedProduct">
            <h2><span jhiTranslate="fccApp.qmsUnqualifiedProduct.detail.title">Qms Unqualified Product</span> {{qmsUnqualifiedProduct.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.inspectionValueId">Inspection Value Id</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.inspectionValueId}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.bomTechnologyId">Bom Technology Id</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.bomTechnologyId}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.processId">Process Id</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.processId}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.materielId">Materiel Id</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.materielId}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.approveResultId">Approve Result Id</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.approveResultId}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.unhealthyId">Unhealthy Id</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.unhealthyId}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.defectId">Defect Id</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.defectId}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.controlLevel">Control Level</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.controlLevel}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.approvePrincipalUserId">Approve Principal User Id</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.approvePrincipalUserId}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.approveStepNum">Approve Step Num</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.approveStepNum}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.approveStepUserId">Approve Step User Id</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.approveStepUserId}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.seriNumber">Seri Number</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.seriNumber}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.furnace">Furnace</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.furnace}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.saleNumber">Sale Number</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.saleNumber}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.productorderNumber">Productorder Number</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.productorderNumber}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.inspectionDiff">Inspection Diff</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.inspectionDiff}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.isApprove">Is Approve</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.isApprove}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.approveResultDiff">Approve Result Diff</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.approveResultDiff}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.approveUserId">Approve User Id</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.approveUserId}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.approveTime">Approve Time</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.approveTime}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.flagStatus">Flag Status</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.flagStatus}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.compPkid">Comp Pkid</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.compPkid}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.remark">Remark</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.remark}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.reserveFirst">Reserve First</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.reserveFirst}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.reserveSecond">Reserve Second</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.reserveSecond}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.reserveThird">Reserve Third</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.reserveThird}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.makeUser">Make User</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.makeUser}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.makeTime">Make Time</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.makeTime}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.modifyUser">Modify User</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.modifyUser}}</span>
                </dd>
                <dt><span jhiTranslate="fccApp.qmsUnqualifiedProduct.modifyTime">Modify Time</span></dt>
                <dd>
                    <span>{{qmsUnqualifiedProduct.modifyTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/qms-unqualified-product', qmsUnqualifiedProduct.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
