<div style="  display: block; width: 100%;height: 140px;height: 205px;">

    <h2 id="page-heading" class="text-left title_class">
      <span>物料供应商关联信息</span>
    </h2>
    <div style="height: 40px;margin-top:0.5%;">
      <!-- 物料编码 -->
      <div class="common_div-head">
        <div class="search_styleOne">
          <span>物料编码</span>
        </div>
        <div class="search_styleTwo">
          <input type="text" class="form-control" style="width: 100%;margin-left: 0px;" pInputText
            [(ngModel)]="materielCd" />
        </div>
      </div>
      <!-- 物料名称 -->
      <div class="common_div-head">
        <div class="search_styleOne">
          <span>物料名称</span>
        </div>
        <div class="search_styleTwo">
          <input type="text" class="form-control" style="width: 100%;margin-left: 0px;" pInputText
            [(ngModel)]="materielName" />
        </div>
      </div>
      <!-- 占位 -->
      <div class="common_div-head">
      </div>
      <!-- 供应商编码 -->
      <div class="common_div-head">
        <div class="search_styleOne" style="text-align: left;padding-left: 50px;margin-top: 20px">
          <span>供应商编码</span>
        </div>
        <div class="search_styleTwo" style="margin-top: 20px;">
          <input type="text" class="form-control" style="width: 100%;margin-left: 0px;" pInputText
            [(ngModel)]="supplierCd" />
        </div>
      </div>
      <!-- 供应商名称 -->
      <div class="common_div-head">
        <div class="search_styleOne" style="text-align: left;padding-left: 50px;margin-top: 20px">
          <span>供应商名称</span>
        </div>
        <div class="search_styleTwo" style="margin-top: 20px;text-align: left">
            <input type="text" class="form-control" style="width: 100%;margin-left: 0px;" pInputText
            [(ngModel)]="supplierName" />
        </div>
      </div>
  
    </div>
    <div style="height: 58px;margin-top: 65px">
      <button id="jh-create-entity" icon="fa fa-plus" replaceUrl="true" iconPos="left"
        class="btn btn-primary float-right jh-create-entity create-qms-vehicle-type-info search_button search_button_blue"
        [routerLink]="['/qms-materiel-supplier/new']">
        <span>
          添加
        </span>
      </button>
      <button id="jh-create-entity" icon="fa fa-plus" iconPos="left"
        class="btn btn-primary float-right jh-create-entity create-qms-vehicle-type-info search_button search_button_red"
        (click)="emptyInfo()">
        <span>
          清空
        </span>
      </button>
      <button id="jh-create-entity" icon="fa fa-plus" iconPos="left"
        class="btn btn-primary float-right jh-create-entity create-qms-vehicle-type-info search_button search_button_darkblue"
        (click)="loadAll()">
        <span>
          查询
        </span>
      </button>
      <!-- <button id="jh-create-entity"  icon="fa fa-plus"  iconPos="left"
            class="btn btn-primary float-right jh-create-entity create-qms-vehicle-type-info search_button search_button_darkblue" (click)="supplierPopup()">
                <span >
                跳转
                </span>
            </button> -->
    </div>
    <div style="width: 100%;border-bottom: 1px black solid;float: left;"></div>
  </div>
  <p-table [value]="qmsMaterielSuppliers" [paginator]="true" [rows]="itemsPerPage" [lazy]="true" [totalRecords]="queryCount"
    [resizableColumns]="true" [loading]="loading" (onLazyLoad)="loadCarsLazy($event)">
  
  
    <ng-template pTemplate="header">
      <tr jhiSort [(ascending)]="reverse" [callback]="transition.bind(this)" class="common_trStyle">
        <!-- 序号 -->
        <th class="common_thStyle" style="width: 10% !important;">
          <span>序号</span>
        </th>
        <!-- 物料编码 -->
        <th class="common_thStyle" style="width: 15% !important;">
          <span>物料编码</span>
        </th>
        <!-- 物料名称 -->
        <th class="common_thStyle" style="width: 20% !important;">
          <span>物料名称</span>
        </th>
        <!-- 供应商编码 -->
        <th class="common_thStyle" style="width: 15% !important;">
          <span>供应商编码</span>
        </th>
        <!-- 供应商名称 -->
        <th class="common_thStyle" style="width: 20% !important;">
          <span>供应商名称</span>
        </th>    
        <th class="common_thStyle">
          <span>操作</span>
        </th>
      </tr>
    </ng-template>
  
    <ng-template pTemplate="body" let-qmsMaterielSupplier let-i="rowIndex">
      <tr style="line-height: 40px">
        <!-- 序号 -->
        <td class="common_tdStyle text-center" style="width: 10% !important"><p>{{i+1}}</p></td>
        <!-- 物料编码 -->
        <td class="common_tdStyle text-left" style="width: 15% !important"><p>{{qmsMaterielSupplier.materielCd}}</p></td>
        <!-- 物料名称 -->
        <td class="common_tdStyle text-left" style="width: 20% !important"><p>{{qmsMaterielSupplier.materielName}}</p></td>
        <!-- 图号 -->
        <td class="common_tdStyle text-left" style="width: 15% !important"><p>{{qmsMaterielSupplier.supplierCd}}</p></td>
        <!-- 规格 -->
        <td class="common_tdStyle text-left" style="width: 20% !important"><p>{{qmsMaterielSupplier.supplierName}}</p></td>
        
        <!-- 操作 -->
        <td class="common_tdStyle">
          <button id="jh-create-entity" replaceUrl="true"
            class="btn btn-primary float-left jh-create-entity create-qms-vehicle-type-info search_button Acolor_See"
            [routerLink]="['/qms-materiel-supplier', qmsMaterielSupplier.id, 'view' ]">
            <span>
              查看
            </span>
          </button>
          <button id="jh-create-entity" replaceUrl="true"
            class="btn btn-primary float-center jh-create-entity create-qms-vehicle-type-info search_button Acolor_Edit"
            [routerLink]="['/qms-materiel-supplier', qmsMaterielSupplier.id, 'edit' ]">
            <span>
              编辑
            </span>
          </button>
  
          <button id="jh-create-entity"
            class="btn btn-primary float-right jh-create-entity create-qms-vehicle-type-info search_button Acolor_Delete"
            [routerLink]="['./', { outlets: { popup: 'qms-materiel-supplier/'+ qmsMaterielSupplier.id + '/delete'} }]">
            <span>
              删除
            </span>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-growl [(value)]="msgs" [immutable]="false" life="3000"></p-growl>