<div>
    <h2 id="page-heading">
        <span jhiTranslate="fccApp.rbacElement.home.title">Rbac Elements</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rbac-element" [routerLink]="['/rbac-element/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="fccApp.rbacElement.home.createLabel">
            Create new Rbac Element
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="rbacElements">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="appId"><span jhiTranslate="fccApp.rbacElement.appId">App Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="storeId"><span jhiTranslate="fccApp.rbacElement.storeId">Store Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="elementCode"><span jhiTranslate="fccApp.rbacElement.elementCode">Element Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="menuId"><span jhiTranslate="fccApp.rbacElement.menuId">Menu Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isDis"><span jhiTranslate="fccApp.rbacElement.isDis">Is Dis</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stopFlag"><span jhiTranslate="fccApp.rbacElement.stopFlag">Stop Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="delFlage"><span jhiTranslate="fccApp.rbacElement.delFlage">Del Flage</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="insProgarmCd"><span jhiTranslate="fccApp.rbacElement.insProgarmCd">Ins Progarm Cd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="insOperCd"><span jhiTranslate="fccApp.rbacElement.insOperCd">Ins Oper Cd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="insDateTime"><span jhiTranslate="fccApp.rbacElement.insDateTime">Ins Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updProgarmCd"><span jhiTranslate="fccApp.rbacElement.updProgarmCd">Upd Progarm Cd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updOperCd"><span jhiTranslate="fccApp.rbacElement.updOperCd">Upd Oper Cd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updDateTime"><span jhiTranslate="fccApp.rbacElement.updDateTime">Upd Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="delProgarmCd"><span jhiTranslate="fccApp.rbacElement.delProgarmCd">Del Progarm Cd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="delOperCd"><span jhiTranslate="fccApp.rbacElement.delOperCd">Del Oper Cd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="delDateTime"><span jhiTranslate="fccApp.rbacElement.delDateTime">Del Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="triggerDateTime"><span jhiTranslate="fccApp.rbacElement.triggerDateTime">Trigger Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rbacElement of rbacElements ;trackBy: trackId">
                <td><a [routerLink]="['/rbac-element', rbacElement.id, 'view' ]">{{rbacElement.id}}</a></td>
                <td>{{rbacElement.appId}}</td>
                <td>{{rbacElement.storeId}}</td>
                <td>{{rbacElement.elementCode}}</td>
                <td>{{rbacElement.menuId}}</td>
                <td>{{rbacElement.isDis}}</td>
                <td>{{rbacElement.stopFlag}}</td>
                <td>{{rbacElement.delFlage}}</td>
                <td>{{rbacElement.insProgarmCd}}</td>
                <td>{{rbacElement.insOperCd}}</td>
                <td>{{rbacElement.insDateTime | date:'medium'}}</td>
                <td>{{rbacElement.updProgarmCd}}</td>
                <td>{{rbacElement.updOperCd}}</td>
                <td>{{rbacElement.updDateTime | date:'medium'}}</td>
                <td>{{rbacElement.delProgarmCd}}</td>
                <td>{{rbacElement.delOperCd}}</td>
                <td>{{rbacElement.delDateTime | date:'medium'}}</td>
                <td>{{rbacElement.triggerDateTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/rbac-element', rbacElement.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/rbac-element', rbacElement.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rbac-element/'+ rbacElement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="rbacElements && rbacElements.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
