<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-rbac-element-heading" jhiTranslate="fccApp.rbacElement.home.createOrEditLabel">Create or edit a Rbac Element</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!rbacElement.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="rbacElement.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacElement.appId" for="field_appId">App Id</label>
                    <input type="number" class="form-control" name="appId" id="field_appId"
                        [(ngModel)]="rbacElement.appId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacElement.storeId" for="field_storeId">Store Id</label>
                    <input type="number" class="form-control" name="storeId" id="field_storeId"
                        [(ngModel)]="rbacElement.storeId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacElement.elementCode" for="field_elementCode">Element Code</label>
                    <input type="text" class="form-control" name="elementCode" id="field_elementCode"
                        [(ngModel)]="rbacElement.elementCode" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.elementCode?.dirty && editForm.controls.elementCode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.elementCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacElement.menuId" for="field_menuId">Menu Id</label>
                    <input type="number" class="form-control" name="menuId" id="field_menuId"
                        [(ngModel)]="rbacElement.menuId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacElement.isDis" for="field_isDis">Is Dis</label>
                    <input type="number" class="form-control" name="isDis" id="field_isDis"
                        [(ngModel)]="rbacElement.isDis" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacElement.stopFlag" for="field_stopFlag">Stop Flag</label>
                    <input type="number" class="form-control" name="stopFlag" id="field_stopFlag"
                        [(ngModel)]="rbacElement.stopFlag" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacElement.delFlage" for="field_delFlage">Del Flage</label>
                    <input type="number" class="form-control" name="delFlage" id="field_delFlage"
                        [(ngModel)]="rbacElement.delFlage" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacElement.insProgarmCd" for="field_insProgarmCd">Ins Progarm Cd</label>
                    <input type="text" class="form-control" name="insProgarmCd" id="field_insProgarmCd"
                        [(ngModel)]="rbacElement.insProgarmCd" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.insProgarmCd?.dirty && editForm.controls.insProgarmCd?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.insProgarmCd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacElement.insOperCd" for="field_insOperCd">Ins Oper Cd</label>
                    <input type="text" class="form-control" name="insOperCd" id="field_insOperCd"
                        [(ngModel)]="rbacElement.insOperCd" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.insOperCd?.dirty && editForm.controls.insOperCd?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.insOperCd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacElement.insDateTime" for="field_insDateTime">Ins Date Time</label>
                    <div class="d-flex">
                        <input id="field_insDateTime" type="datetime-local" class="form-control" name="insDateTime" [(ngModel)]="insDateTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacElement.updProgarmCd" for="field_updProgarmCd">Upd Progarm Cd</label>
                    <input type="text" class="form-control" name="updProgarmCd" id="field_updProgarmCd"
                        [(ngModel)]="rbacElement.updProgarmCd" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.updProgarmCd?.dirty && editForm.controls.updProgarmCd?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.updProgarmCd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacElement.updOperCd" for="field_updOperCd">Upd Oper Cd</label>
                    <input type="text" class="form-control" name="updOperCd" id="field_updOperCd"
                        [(ngModel)]="rbacElement.updOperCd" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.updOperCd?.dirty && editForm.controls.updOperCd?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.updOperCd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacElement.updDateTime" for="field_updDateTime">Upd Date Time</label>
                    <div class="d-flex">
                        <input id="field_updDateTime" type="datetime-local" class="form-control" name="updDateTime" [(ngModel)]="updDateTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacElement.delProgarmCd" for="field_delProgarmCd">Del Progarm Cd</label>
                    <input type="text" class="form-control" name="delProgarmCd" id="field_delProgarmCd"
                        [(ngModel)]="rbacElement.delProgarmCd" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.delProgarmCd?.dirty && editForm.controls.delProgarmCd?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.delProgarmCd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacElement.delOperCd" for="field_delOperCd">Del Oper Cd</label>
                    <input type="text" class="form-control" name="delOperCd" id="field_delOperCd"
                        [(ngModel)]="rbacElement.delOperCd" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.delOperCd?.dirty && editForm.controls.delOperCd?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.delOperCd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacElement.delDateTime" for="field_delDateTime">Del Date Time</label>
                    <div class="d-flex">
                        <input id="field_delDateTime" type="datetime-local" class="form-control" name="delDateTime" [(ngModel)]="delDateTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fccApp.rbacElement.triggerDateTime" for="field_triggerDateTime">Trigger Date Time</label>
                    <div class="d-flex">
                        <input id="field_triggerDateTime" type="datetime-local" class="form-control" name="triggerDateTime" [(ngModel)]="triggerDateTime"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
