<div>
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

        <h2 id="jhi-qms-vehicle-type-info-heading" class="title_class">物料维护</h2>

        <div class="creatOreditCssButton">
            <button type="button" id="cancel-save"
                class="btn btn-secondary float-right search_button_darkblue search_button" (click)="previousState()">
                <span>取消</span>
            </button>
            <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                class="btn btn-primary float-right search_button_blue search_button">
                <span>保存</span>
            </button>
        </div>
        <!-- 左侧文字的div -->
        <div style="float: left;">
            <div style="margin-top:52px;margin-left:45px;font-size:18px;font-weight: bold">
                <span>物料编码</span>
            </div>
            <div class="lookleftSpan">
                <span>物料名称</span>
            </div>
            <div class="lookleftSpan">
                <span>图号</span>
            </div>
            <div class="lookleftSpan">
                <span>ABC码</span>
            </div>
            <div class="lookleftSpan">
                <span>生产方式</span>
            </div>
            <div class="lookleftSpan">
                <span>物料分类</span>
            </div>
            <div class="lookleftSpan">
                <span>物料分类名称</span>
            </div>
            <div class="lookleftSpan">
                <span>物料属性</span>
            </div>
            <div class="lookleftSpan">
                <span>检验类型</span>
            </div>
        </div>
        <!-- 左侧输入框的div -->
        <div style="float: left;">

            <div style="margin-top:50px;margin-left:20px;">
                <input type="text" class="form-control" style="width: 240px;" pInputText *ngIf="this.flag==0"
                    maxlength="20" [(ngModel)]=qmsMateriel.materielCd id="field_materielCd" name="materielCd"
                    required />

                <input type="text" class="form-control" style="width: 240px;" pInputText *ngIf="this.flag==1"
                    maxlength="20" [(ngModel)]=qmsMateriel.materielCd id="field_materielCd" name="materielCd" required
                    [disabled]=qmsMateriel.id />


            </div>
            <div class="lookLeftDiv">
                <input type="text" class="form-control" style="width: 240px;" pInputText maxlength="100"
                    [(ngModel)]=qmsMateriel.materielName id="field_materielName" name="materielName" />
            </div>
            <div class="lookLeftDiv">
                <input type="text" class="form-control" style="width: 240px;" pInputText maxlength="30"
                    [(ngModel)]=qmsMateriel.figureNumber id="field_figureNumber" name="figureNumber" />
            </div>
            <div class="lookLeftDiv">
                <input type="text" class="form-control" style="width: 240px;" pInputText
                    [(ngModel)]=qmsMateriel.abcNumber id="field_abcNumber" name="abcNumber" maxlength="1" />
            </div>
            <div class="lookLeftDiv">
                <p-dropdown [options]="sheng" [(ngModel)]=qmsMateriel.productMode placeholder="请选择" [showClear]="true"
                    [style]="{'width':'240px','height':'38px'}" id="field_productMode" name="productMode"></p-dropdown>
            </div>
            <div class="lookLeftDiv">
                <!-- 物料分类id 隐藏  -->
                <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]=qmsMateriel.materielTypeId
                    [hidden]=true name=qmsMateriel.materielTypeId id="field_materielTypeId" />
                <!-- 物料分类code -->
                <input type="text" class="form-control float-left" style="width: 240px;" pInputText maxlength="100"
                    [(ngModel)]=this.materTypeCd name=this.materTypeCd  (blur)=blurMar()  />
                <i style="font-size:2em;cursor:pointer;color:#1F89CE;padding-left: 30px;" class="fa fa-search"
                    (click)="goToMaterialType()"></i>
            </div>
            <div class="lookLeftDiv">
                <!-- 物料分类名称 -->
                <input type="text" class="form-control" style="width: 240px;" pInputText maxlength="100"
                    [(ngModel)]=this.materTypeName name=this.materTypeName [disabled]=true />
            </div>
            <div class="lookLeftDiv">
                <p-dropdown [options]="shuxing" [(ngModel)]=qmsMateriel.propertyType placeholder="请选择"
                    [showClear]="true" [style]="{'width':'240px','height':'38px'}" id="field_propertyType"
                    name="propertyType"></p-dropdown>
            </div>
            <div class="lookLeftDiv">
                <p-dropdown [options]="checkType" [(ngModel)]=qmsMateriel.checkType placeholder="请选择"
                    [showClear]="true" [style]="{'width':'240px','height':'38px'}" id="field_checkType"
                    name="checkType" (onChange)="changeValue()" ></p-dropdown>
            </div>
        </div>
        <!-- 右侧文字 -->
        <div style="float: left;">
            <div style="margin-top:52px;margin-left:40px;font-size:18px;font-weight: bold">
                <span>使用单位</span>
            </div>
            <div class="lookrightSpan">
                <span>使用单位名称</span>
            </div>
            <div class="lookrightSpan">
                <span>规格型号</span>
            </div>
            <div class="lookrightSpan">
                <span>重量</span>
            </div>
            <div class="lookrightSpan">
                <span>密度</span>
            </div>
            <div class="lookrightSpan">
                <span>质量等级</span>
            </div>
            <div class="lookrightSpan">
                <span>八防</span>
            </div>
            <div class="lookrightSpan">
                <span>材质</span>
            </div>

            <div class="lookrightSpan">
                <span>抽检比例</span>
            </div>
        </div>
        <!-- 右侧输入框 -->
        <div style="float: left;">
            <!-- 单位id 隐藏  -->
            <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]=qmsMateriel.useUnitId
                [hidden]=true name=qmsMateriel.useUnitId id="field_useUnitId" />
            <!-- 单位编码 -->
            <div style="margin-top:50px;">
                <input type="text" class="form-control float-left" style="width: 240px;margin-left: 18px;" pInputText
                    maxlength="100" [(ngModel)]=this.unitCd name=this.unitCd  (blur)=blurUnit() />
                <i style="font-size:2em;cursor:pointer;color:#1F89CE;padding-left: 30px;" class="fa fa-search" (click)="goToUnit()"></i>
            </div>
            <!-- 单位名称 -->
            <div class="lookRightDiv">
                <input type="text" class="form-control" style="width: 240px;margin-left: 18px;" pInputText
                    maxlength="100" [(ngModel)]=this.unitName [disabled]=true name=this.unitName />
            </div>
            <div class="lookRightDiv">
                <input type="text" class="form-control" style="width: 240px;margin-left: 18px;" pInputText
                    maxlength="100" [(ngModel)]=qmsMateriel.specificationType id="field_specificationType"
                    name="specificationType" />
            </div>
            <div class="lookRightDiv">
                <input type="text" class="form-control" style="width: 240px;margin-left: 18px;" pInputText
                    [(ngModel)]=qmsMateriel.weight id="field_weight" name="weight" />
            </div>
            <div class="lookRightDiv">
                <input type="text" class="form-control" style="width: 240px;margin-left: 18px;" pInputText
                    [(ngModel)]=qmsMateriel.density id="field_density" name="density" />
            </div>
            <div class="lookRightDiv">
                <input type="text" class="form-control" style="width: 240px;margin-left: 18px;" pInputText
                    maxlength="100" [(ngModel)]=qmsMateriel.qualityLevel id="field_qualityLevel" name="qualityLevel" />
            </div>
            <div class="lookRightDiv">
                <p-dropdown [options]="eight" [(ngModel)]=qmsMateriel.eightPrevention placeholder="请选择"
                    [showClear]="true" [style]="{'width':'240px','height':'38px','margin-left':'18px'}"
                    id="field_eightPrevention" name="eightPrevention">
                </p-dropdown>
            </div>
            <div class="lookRightDiv">
                <input type="text" class="form-control" style="width: 240px;margin-left: 18px;" pInputText
                    maxlength="100" [(ngModel)]=qmsMateriel.texTure id="field_texTure" name="texTure" />
            </div>

            <div class="lookRightDiv">
                <input type="text" class="form-control" style="width: 240px;margin-left: 18px;" pInputText *ngIf="qmsMateriel.checkType==2"
                    maxlength="100" [(ngModel)]=qmsMateriel.checkRate id="field_checkRate" name="checkRate" maxlength="3"  />

                    <input type="text" class="form-control" style="width: 240px;margin-left: 18px;" pInputText *ngIf="qmsMateriel.checkType==1"
                    maxlength="100" [(ngModel)]=qmsMateriel.checkRate id="field_checkRate" name="checkRate" disabled=true />

                    <input type="text" class="form-control" style="width: 240px;margin-left: 18px;" pInputText *ngIf="qmsMateriel.checkType==3"
                    maxlength="100" [(ngModel)]=qmsMateriel.checkRate id="field_checkRate" name="checkRate" disabled=true />

                    <input type="text" class="form-control" style="width: 240px;margin-left: 18px;" pInputText *ngIf="qmsMateriel.checkType==null"
                    maxlength="100" [(ngModel)]=qmsMateriel.checkRate id="field_checkRate" name="checkRate" disabled=true />
            </div>
        </div>
        <!-- 右侧文字 -->
        <div style="float: left;">
            <div style="margin-top:52px;margin-left:40px;font-size:18px;font-weight: bold">
                <span>物料员角色</span>
            </div>
            <div class="addrightSpan">
                <span>物料员角色名称</span>
            </div>
            <div class="addrightSpan">
                <span>质检关键</span>
            </div>
            <div class="addrightSpan">
                <span>SAP码</span>
            </div>
            <div class="addrightSpan">
                <span>是否试验</span>
            </div>
            <div class="addrightSpan">
                <span>备注</span>
            </div>
        </div>
        <!-- 右侧输入框 -->
        <div style="float: left;">
            <!-- 角色id 隐藏  -->
            <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]=qmsMateriel.MhandlerRoleId
                [hidden]=true name=qmsMateriel.MhandlerRoleId id="field_MhandlerRoleId" />
            <!-- 角色 -->
            <div style="margin-top:2px;">
                <input type="text" class="form-control float-left" style="width: 240px;margin-left: 18px;" pInputText
                    maxlength="100" [(ngModel)]=this.roleCode name=this.roleCode  (blur)=blurRole() />
                <i style="font-size:2em;cursor:pointer;color:#1F89CE;padding-left: 30px;" class="fa fa-search"
                    (click)="goToRabcUser()"></i>
            </div>
            <div class="addRightDiv">
                <input type="text" class="form-control" style="width: 240px;margin-left: 18px;" pInputText
                    maxlength="100" [(ngModel)]=this.roleName name=this.roleName [disabled]=true />
            </div>
            <div class="addRightDiv">
                <p-dropdown [options]="zhijian" [(ngModel)]=qmsMateriel.ifKey placeholder="请选择" [showClear]="true"
                    [style]="{'width':'240px','height':'38px','margin-left':'18px'}" id="field_ifKey" name="ifKey">
                </p-dropdown>
            </div>
            <div class="addRightDiv">
                <input type="text" class="form-control" style="width: 240px;margin-left: 18px;" pInputText
                    maxlength="20" [(ngModel)]=qmsMateriel.sapCd id="field_sapCd" name="sapCd" />
            </div>
            <div class="addRightDiv">
                <p-dropdown [options]="isCheck" [(ngModel)]=qmsMateriel.isCheck placeholder="请选择"
                    [showClear]="true" [style]="{'width':'240px','height':'38px','margin-left':'18px'}"
                    id="field_isCheck" name="isCheck"></p-dropdown>
            </div>
            <div class="addRightDiv">
                <textarea pInputTextarea [(ngModel)]="qmsMateriel.remark" maxlength="200"
                    style="width: 500px;margin-left: 18px;height: 210px;" name="remark" id="field_remark"
                    class="form-control" id="field_remark" name="remark"></textarea>
            </div>
        </div>


    </form>
</div>
<p-growl [(value)]="msgs" [immutable]="false" life="3000"></p-growl>