<div>
    <h2 id="page-heading">
        <span jhiTranslate="fccApp.qmsProductionTask.home.title">Qms Production Tasks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-qms-production-task" [routerLink]="['/qms-production-task/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="fccApp.qmsProductionTask.home.createLabel">
            Create new Qms Production Task
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="qmsProductionTasks">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bomTechnologyId"><span jhiTranslate="fccApp.qmsProductionTask.bomTechnologyId">Bom Technology Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="materielId"><span jhiTranslate="fccApp.qmsProductionTask.materielId">Materiel Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serialNumber"><span jhiTranslate="fccApp.qmsProductionTask.serialNumber">Serial Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="furnace"><span jhiTranslate="fccApp.qmsProductionTask.furnace">Furnace</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="saleNumber"><span jhiTranslate="fccApp.qmsProductionTask.saleNumber">Sale Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productorderNumber"><span jhiTranslate="fccApp.qmsProductionTask.productorderNumber">Productorder Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="finishNumber"><span jhiTranslate="fccApp.qmsProductionTask.finishNumber">Finish Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quailfiedNumber"><span jhiTranslate="fccApp.qmsProductionTask.quailfiedNumber">Quailfied Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deffectiveNumber"><span jhiTranslate="fccApp.qmsProductionTask.deffectiveNumber">Deffective Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flagStatus"><span jhiTranslate="fccApp.qmsProductionTask.flagStatus">Flag Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="compPkid"><span jhiTranslate="fccApp.qmsProductionTask.compPkid">Comp Pkid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remark"><span jhiTranslate="fccApp.qmsProductionTask.remark">Remark</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reserveFirst"><span jhiTranslate="fccApp.qmsProductionTask.reserveFirst">Reserve First</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reserveSecond"><span jhiTranslate="fccApp.qmsProductionTask.reserveSecond">Reserve Second</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reserveThird"><span jhiTranslate="fccApp.qmsProductionTask.reserveThird">Reserve Third</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="makeUser"><span jhiTranslate="fccApp.qmsProductionTask.makeUser">Make User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="makeTime"><span jhiTranslate="fccApp.qmsProductionTask.makeTime">Make Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyUser"><span jhiTranslate="fccApp.qmsProductionTask.modifyUser">Modify User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyTime"><span jhiTranslate="fccApp.qmsProductionTask.modifyTime">Modify Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let qmsProductionTask of qmsProductionTasks ;trackBy: trackId">
                <td><a [routerLink]="['/qms-production-task', qmsProductionTask.id, 'view' ]">{{qmsProductionTask.id}}</a></td>
                <td>{{qmsProductionTask.bomTechnologyId}}</td>
                <td>{{qmsProductionTask.materielId}}</td>
                <td>{{qmsProductionTask.serialNumber}}</td>
                <td>{{qmsProductionTask.furnace}}</td>
                <td>{{qmsProductionTask.saleNumber}}</td>
                <td>{{qmsProductionTask.productorderNumber}}</td>
                <td>{{qmsProductionTask.finishNumber}}</td>
                <td>{{qmsProductionTask.quailfiedNumber}}</td>
                <td>{{qmsProductionTask.deffectiveNumber}}</td>
                <td>{{qmsProductionTask.flagStatus}}</td>
                <td>{{qmsProductionTask.compPkid}}</td>
                <td>{{qmsProductionTask.remark}}</td>
                <td>{{qmsProductionTask.reserveFirst}}</td>
                <td>{{qmsProductionTask.reserveSecond}}</td>
                <td>{{qmsProductionTask.reserveThird}}</td>
                <td>{{qmsProductionTask.makeUser}}</td>
                <td>{{qmsProductionTask.makeTime | date:'medium'}}</td>
                <td>{{qmsProductionTask.modifyUser}}</td>
                <td>{{qmsProductionTask.modifyTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/qms-production-task', qmsProductionTask.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/qms-production-task', qmsProductionTask.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'qms-production-task/'+ qmsProductionTask.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="qmsProductionTasks && qmsProductionTasks.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
